
<div class="example-header">
    <mat-form-field>
      <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> -->
      <input matInput placeholder="Filter"> 
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
    <p [ngClass]="classCss">{{message}}</p>
    <mat-table [dataSource]="tagSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tagID}} </mat-cell>
      </ng-container>
  
      <!-- name Column -->
      <ng-container matColumnDef="tag">
        <mat-header-cell *matHeaderCellDef mat-sort-header> nom </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tag}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
        
        <button mat-icon-button (click)="openEditModal(row)" color="primary">   
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="onDelete(row.tagID, row)" color="warn">   
            <mat-icon>delete</mat-icon>
        </button>
        </mat-cell>
      </ng-container>

      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

