.contenair{
  width: 75%;
}

.card {
  background-color:white; 
  width: 100%; /* On fixe la largeur du card */
//  border-radius: 15%; /* On arrondit les bordures du card */
  height: 100%;
  position: inherit;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Assure que les paddings et les bordures sont inclus dans la largeur totale */
  padding-left: 1rem; /* Ajoute un padding gauche et droit pour espacer les éléments */
  padding-right: 1rem;
}

.iframe-container{
  width: 100%;
  height: 4rem;
}

mat-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 6rem;
}

.card-content{
  flex-grow: 1; 
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column; /* S'assure que le sous-titre est en dessous du titre */
  align-items: flex-start;
  //background-color: red;
}

.icon {
  display: flex; /* On active le mode flexbox */
  justify-content: center; /* On centre l'icône horizontalement */
}

.buttons {
  display: flex; /* On active le mode flexbox */
  justify-content: space-around; /* On répartit les boutons horizontalement avec un espace égal entre eux */
}



#grid{
  margin-left: 13rem;
  margin-top: 5rem;
  display: grid;
  grid-auto-flow: row; 
  overflow-x: hidden; 
  grid-gap: 5%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr)
}



.ng2-pdf-viewer-container{
  overflow: hidden;
}

.like-dislike-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: aqua;
  margin-left: auto;
  width: auto;
  height: auto;
 min-width: 4rem; /* minimum width pour prevenir overflow */

}

.like, .dislike {

 display: flex;
 align-items: center;
width: auto;
 height: auto;
 margin-bottom: -0.2rem;
}


.like mat-icon, .dislike mat-icon {
  font-size: 2rem; /* Fixe la taille des icônes */
  transform: scale(0.5); /* Réduisez la taille des icônes */
}

.like span, .dislike span {
  margin-left: 0.2rem;
  font-size: smaller;
  color: gray;
//   white-space: nowrap; /* Empêche le texte de se mettre à la ligne */
}





.progress-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: #8b0404;
  opacity: 0.7;
  transform-origin: left center;
  transition: tranform 0.2s ease-out;
}



.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #f0f4f8, #e2e8f0);
  text-align: center;
}

/* Message d'accueil */
.welcome-message {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

/* Animation du texte */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-message h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}

.welcome-message p {
  font-size: 1.2em;
  line-height: 1.6;
  animation: fadeInUp 1.5s ease-out;
  animation-delay: 0.5s;
}

/* Liste d'instructions */
.instructions-list {
  list-style-type: none; /* Supprime les puces par défaut */
  padding: 0; /* Supprime le padding */
  margin: 0; /* Supprime les marges par défaut */
}

.instructions-list li {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 10px 0; /* Espacement entre les éléments de la liste */
}

.instructions-list span {
  font-size: 1.5em; /* Taille des emojis */
  margin-right: 7px; /* Espacement entre l'emoji et le texte */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .card-header {
    flex-wrap: nowrap;
  }

 
 
  mat-card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 4rem;
  }


  .container{
    height: 80%;
  }

  #grid{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-auto-flow: row; 
    overflow-x: hidden; 
    grid-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr)
  }


  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Assure que les paddings et les bordures sont inclus dans la largeur totale */
    padding-left: 0.5rem; /* Ajoute un padding gauche et droit pour espacer les éléments */
    padding-right: 0.2rem;
  }


  .like-dislike-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    width: auto;
    height: auto;
    min-width: 4rem;

  }


  .like span, .dislike span {
    margin-left: 0.05rem;
    font-size: smaller;
    color: gray;
  }

  .like, .dislike {

    display: flex;
    align-items: center;
   width: auto;
    height: auto;
    margin-bottom: -0.2rem;
   }

   .iframe-container{
    width: 100%;
    //height: 4rem;
  }

  .iframe-container img{
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {

  .card-header {
    flex-wrap: nowrap;
  }


  mat-card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 4rem;
  }

  .container{
    height: 80%;
  }

  #grid{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-auto-flow: row; 
    overflow-x: hidden; 
    grid-gap: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr)
  }



    .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Assure que les paddings et les bordures sont inclus dans la largeur totale */
  padding-left: 0.5rem; /* Ajoute un padding gauche et droit pour espacer les éléments */
  padding-right: 0.2rem;
}




  .like-dislike-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    width: auto;
    height: auto;
    min-width: 4rem;
  }



  .like span, .dislike span {
    margin-left: 0.05rem;
    font-size: smaller;
    color: gray;
  }

   
  .like, .dislike {

    display: flex;
    align-items: center;
   width: auto;
    height: auto;
    margin-bottom: -0.1rem;
   }

   .iframe-container{
    width: 100%;
    //height: 4rem;
  }

}

