<div class="contenu">
  <!-- <div *ngIf="tempDocuments.length === 0" class="welcome-container">
  <div class="welcome-message animate__animated animate__fadeInUp">
    <h1 class="animate__animated animate__fadeIn">Hello!!!</h1>
    <p class="animate__animated animate__fadeIn animate__delay-1s">
    </p>
    <ul class="instructions-list">
      <li><span role="img" aria-label="pointing-left">👈</span> Ici pour explorer ses illustrations.</li>
      <li><span role="img" aria-label="pointing-up">👆</span> Ici pour rechercher ou filtrer.</li>
    </ul>
  </div>
</div> -->

<div *ngIf="tempDocuments.length === 0" class="welcome-container">
  <div class="welcome-message animate__animated animate__fadeInUp">
    <!-- Remplacez "Hello!!!" par l'icône animée -->
    
    <p class="animate__animated animate__fadeIn animate__delay-1s" style="font-size: 1.5em;">
      Hello 
      <mat-icon svgIcon="hand-hello" class="hand-rotation hand-icon"></mat-icon>
    </p>
    <ul class="instructions-list">
      <li>
        <mat-icon svgIcon="hand-gauche" class="icon-left hand-icon"></mat-icon>
        Ici pour explorer ses illustrations.
      </li>
      <li>
        <mat-icon svgIcon="hand-haut" class="icon-up hand-icon"></mat-icon>
        Ici pour rechercher ou filtrer.
      </li>
    </ul>
  </div>
</div>

<div *ngIf="tempDocuments.length > 0" class="container" id="grid"  style="width: auto;"> 
    <mat-card class="card" *ngFor="let document of documents; trackBy: trackById">
    
      <mat-card-header (click)="onDocumentClicked(document)" style="background-color: white; border-top-right-radius: 5%; border-top-left-radius: 5%; ">
        <div class="card-content" >
          <mat-card-title style="font-size: small;">{{ document.titre }}</mat-card-title>
          <mat-card-subtitle style="font-size: smaller;">Taille: {{ formatFileSize(document.taille) }}</mat-card-subtitle>
        </div>
        <!-- <div  class="like-dislike-container">
          <div class="like" >
              <mat-icon svgIcon="like" ></mat-icon>
              <span>{{ document.like }}</span>
          </div>
          <div class="dislike" >
              <mat-icon svgIcon="dislike" ></mat-icon>
              <span >{{ document.unlike }}</span>
          </div>
        </div> -->
      </mat-card-header>
      <div (click)="onDocumentClicked(document)" style="display: flex; width: 100%; background-color: rgb(244, 246, 248);">
        <ng-container [ngSwitch]="document.format">
          <div *ngSwitchCase="'application/pdf'" class="iframe-container" >
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%; object-fit: scale-down;" class="image">
          </div>
          <div *ngSwitchCase="'audio/mp3'" class="iframe-container">
            <img mat-card-image src="assets/audio.png" alt="Mon image" style="height: 4rem;  width: 100%; object-fit: contain;" class="image">
          </div>
          <div *ngSwitchCase="'audio/mpeg'" class="iframe-container">
            <img mat-card-image src="assets/audio.png" alt="Mon image" style="height: 4rem;  width: 100%; object-fit: contain;" class="image">
          </div>
          <div *ngSwitchCase="'image/png'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%; object-fit: scale-down;" class="image">
          </div>
          <div *ngSwitchCase="'image/jpg'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%; object-fit: contain;" class="image">
          </div>
          <div *ngSwitchCase="'image/jpeg'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%; object-fit: contain;" class="image">
          </div>
          <div *ngSwitchCase="'image/gif'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%; object-fit: contain;" class="image">
          </div>
          <div *ngSwitchCase="'image/tiff'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%; object-fit: contain;" class="image">
          </div>
          <div *ngSwitchCase="'video/mp4'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%; object-fit: contain;" class="image">
          </div>
          <div *ngSwitchDefault>
            <p>Unknown document type</p>
          </div>
        </ng-container>
      </div>

      <div  style=" width: 100%; background-color: white; border-bottom-right-radius: 5%; border-bottom-left-radius: 5%;">
        <mat-card-actions class="buttons" style="width: 100%; row-gap: 6%;">
        
        <button mat-button (click)="openDetailDialog(document)" style="display: flex;" >
            <mat-icon svgIcon="telecharger"></mat-icon>
        </button>
          
        <button mat-button (click)="copyLink()" style="display: flex;">
            <mat-icon svgIcon="partage"></mat-icon>
        </button>
        
        </mat-card-actions>
      </div>
    </mat-card>
    
  </div>
</div>


