<!-- <p class="content">content-part works!</p> -->
<div class="container" id="grid"  style="width: auto;"> 

    <mat-card class="card" *ngFor="let document of documents; trackBy: trackById" (dblclick)="onDocumentDBLClicked(document)">
    
      <mat-card-header style="background-color: white; border-top-right-radius: 5%; border-top-left-radius: 5%; ">
        <div class="card-content" >
          <mat-card-title style="font-size: small;">{{ document.titre }}</mat-card-title>
          <mat-card-subtitle style="font-size: smaller;">Taille: {{ formatFileSize(document.taille) }}</mat-card-subtitle>
        </div>
        <div  class="like-dislike-container">
          <div class="like" >
              <mat-icon svgIcon="like" ></mat-icon>
              <span>{{ document.like }}</span>
          </div>
          <div class="dislike" >
              <mat-icon svgIcon="dislike" ></mat-icon>
              <span >{{ document.unlike }}</span>
          </div>
        </div>
      </mat-card-header>
      <div style="display: flex; width: 100%; background-color: rgb(244, 246, 248);">
        <ng-container [ngSwitch]="document.format">
          <div *ngSwitchCase="'application/pdf'" class="iframe-container" >
            <pdf-viewer #pdfViewer
                            [src]="getDocumentUrl(document.documentID)"
                            [render-text]="true"
                            [show-all]="false"
                            [page]="1"
                            [original-size]="false"
                            [fit-to-page]="true"
                            [show-borders]="false" 
                            (after-load-complete)="handlePdfLoad($event)"
                            (error)="handlePdfError($event)"
                            style="display: block; height: 4rem; width: 100%;">
            </pdf-viewer>
          </div>
          <div *ngSwitchCase="'audio/mp3'" class="iframe-container">
            <img mat-card-image src="assets/audio.png" alt="Mon image" style="height: 4rem;  width: 100%;">
          </div>
          <div *ngSwitchCase="'audio/mpeg'" class="iframe-container">
            <img mat-card-image src="assets/audio.png" alt="Mon image" style="height: 4rem;  width: 100%;">
          </div>
          <div *ngSwitchCase="'image/png'" class="iframe-container">
            <img mat-card-image src={{getBlobDocument(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%;">
          </div>
          <div *ngSwitchCase="'image/jpg'" class="iframe-container">
            <img mat-card-image src={{getBlobDocument(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%;">
          </div>
          <div *ngSwitchCase="'image/jpeg'" class="iframe-container">
            <img mat-card-image src={{getBlobDocument(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%;">
          </div>
          <div *ngSwitchCase="'image/gif'" class="iframe-container">
            <img mat-card-image src={{getBlobDocument(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%;">
          </div>
          <div *ngSwitchCase="'image/tiff'" class="iframe-container">
            <img mat-card-image src={{getBlobDocument(document.documentID)}} alt="Mon image" style="height: 4rem;  width: 100%;">
          </div>
          <div *ngSwitchCase="'video/mp4'" class="iframe-container">
            <!--<img mat-card-image src="assets/video4.png" alt="Mon image" style="height: 10rem; width: 9rem;">-->
            <video #videoContainer 
                    (mouseover)="startVideoPreview()" 
                    (mouseleave)="stopVideoPreview()" 
                    style="height: 4rem; width: 100%;"
                    src = {{getBlobDocument(document.documentID)}}
                    type="video/mp4" muted control>

            </video>
            <div class="progress-bar" [style.width.%]="progress"></div>
          </div>
          <div *ngSwitchDefault>
            <p>Unknown document type</p>
          </div>
        </ng-container>
      </div>

      <div  style=" width: 100%; background-color: white; border-bottom-right-radius: 5%; border-bottom-left-radius: 5%;">
        <mat-card-actions class="buttons" style="width: 100%; row-gap: 6%;">
        
        <button mat-button (click)="openDetailDialog(document)" style="display: flex;" >
            <mat-icon svgIcon="telecharger"></mat-icon>
        </button>
          
        <button mat-button (click)="copyLink()" style="display: flex;">
            <mat-icon svgIcon="partage"></mat-icon>
        </button>
        
        </mat-card-actions>
      </div>
    </mat-card>
    
  </div>
  