<div class="contenu">
<div *ngIf="tempDocuments.length === 0" id="grid2" class="container2">
    <div *ngFor="let categorie of categories"  class="category-container">
      <h2 class="category-title" *ngIf="!categorie?.supprimerCategorie">{{ categorie?.nom}}</h2>
      <div class="card-container2" *ngIf="!categorie?.supprimerCategorie">
        <mat-card 
        *ngFor="let catDoc of getLimitedCards(categorie.categorieDocuments)" 
        (mouseenter)="onMouseEnter(catDoc.document?.documentID)" 
        (mouseleave)="onMouseLeave()"
        [class.hovered]="isHovered === catDoc.document?.documentID"
        class="card2"
        >
          <div *ngIf="catDoc.document">
            <mat-card-header class="card-header" (click)="onDocumentClicked(catDoc.document)">
              <div class="card-content">
                <mat-card-title class="titre" style="color: aqua; font-size: 0.9rem;">{{ catDoc.document.titre }}</mat-card-title>
              </div>
            </mat-card-header>
            <div class="image-container" (click)="onDocumentClicked(catDoc.document)">
              <img mat-card-image src={{getDocumentThumbnail(catDoc.document.documentID)}} alt="{{ catDoc.document.titre }}" class="image" loading="lazy">
            </div>
            <div class="buttons">
              <button mat-icon-button 
              (click)="openDetailDialog(catDoc.document)" 
              style="display: flex;" 
              aria-label="Détails"
              matTooltip="{{'Détails' | translate }}"
              >
                <mat-icon svgIcon="telecharger"></mat-icon>
              </button>
              <button mat-icon-button 
              (click)="copyLink(catDoc.document.documentID)" 
              style="cursor: copy;" 
              aria-label="Copier le lien"
              matTooltip="{{ 'Copier le lien' | translate }}"
              >
                <mat-icon svgIcon="partage"></mat-icon>
              </button>
              <button mat-icon-button 
              (click)="onDownloadBtnClick(catDoc.document.titre, catDoc.document.documentID)" 
              style="display: flex;" 
              aria-label="Télécharger"
              matTooltip="{{ 'Télécharger' | translate }}"
              >
                <mat-icon svgIcon="download"></mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
        <div class="card add-card" (click)="onBtnPlusClick(categorie?.categorieID)">
          <mat-icon class="add-icon">arrow_forward</mat-icon>
        </div>
      </div>
  </div>
</div>

<div *ngIf="tempDocuments.length > 0" class="container" id="grid"> 
    <mat-card 
      class="card"
      *ngFor="let document of paginatedDocuments; trackBy: trackById" 
      (mouseenter)="onMouseEnter(document?.documentID)" 
      (mouseleave)="onMouseLeave()"
      [class.hovered]="isHovered === document?.documentID"
    >
    
      <mat-card-header (click)="onDocumentClicked(document)"  style="background-color:  rgb(24, 49, 83); width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px; ">

        <div class="card-content" >
          <mat-card-title style="color: aqua; font-size: 0.9rem;">{{ document.titre }}</mat-card-title>
        </div>
        <div class="like-dislike-container">
          <mat-card-subtitle style="font-size: smaller; color: rgb(185, 183, 183);">{{ document.typeFichier == 'Document' ? 'pdf' :  document.typeFichier }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <div (click)="onDocumentClicked(document)">
        <ng-container [ngSwitch]="document.format">
          <div *ngSwitchCase="'application/pdf'" class="iframe-container" >
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" class="image" loading="lazy">
          </div>
          <div *ngSwitchCase="'audio/mp3'" class="iframe-container">
            <img mat-card-image src="assets/audio.png" alt="Mon image" class="image">
          </div>
          <div *ngSwitchCase="'audio/mpeg'" class="iframe-container">
            <img mat-card-image src="assets/audio.png" alt="Mon image" class="image">
          </div>
          <div *ngSwitchCase="'image/png'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" class="image" loading="lazy">
          </div>
          <div *ngSwitchCase="'image/jpg'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" class="image" loading="lazy">
          </div>
          <div *ngSwitchCase="'image/jpeg'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" class="image" loading="lazy">
          </div>
          <div *ngSwitchCase="'image/gif'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" class="image" loading="lazy">
          </div>
          <div *ngSwitchCase="'image/tiff'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" class="image" loading="lazy">
          </div>
          <div *ngSwitchCase="'video/mp4'" class="iframe-container">
            <img mat-card-image src={{getDocumentThumbnail(document.documentID)}} alt="Mon image" class="image" loading="lazy">
          </div>
          <div *ngSwitchDefault>
            <p>Unknown document type</p>
          </div>
        </ng-container>
      </div>

      <div  style=" width: 100%; background-color: white; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
        <mat-card-actions class="buttons"style="row-gap: 6%;">
        
        <button mat-icon-button 
        (click)="openDetailDialog(document)" 
        style="display: flex;" 
        aria-label="Détails"
        matTooltip="{{'Détails' | translate }}"
        >
            <mat-icon svgIcon="telecharger"></mat-icon>
        </button>
          
        <button mat-icon-button 
        (click)="copyLink(document.documentID)" 
        style="cursor: copy;" 
        aria-label="Copier le lien"
        matTooltip="{{ 'Copier le lien' | translate }}"
        >
            <mat-icon svgIcon="partage"></mat-icon>
        </button>

        <button mat-icon-button 
        (click)="onDownloadBtnClick(document.titre, document.documentID)" 
        style="display: flex;" 
        aria-label="Télécharger"
        matTooltip="{{ 'Télécharger' | translate }}"
        >
          <mat-icon svgIcon="download"></mat-icon>
        </button>
        
        </mat-card-actions>
      </div>
    </mat-card>
    
  </div>
  <mat-paginator *ngIf="tempDocuments.length > 0"
    [length]="documents.length"
    [pageSize]="12"
    [hidePageSize]="true"
    [pageSizeOptions]="[12]"
    (page)="paginateDocuments($event)"
    style="font-size: medium; font-weight: bold; color: rgb(24, 49, 83) ; background-color:rgba(236, 247, 253, 0.488); border-top:  0.1px solid rgba(128, 128, 128, 0.26); justify-content: center; display: flex; margin-left: 14%;"
  >
  </mat-paginator>
</div>
<app-footer-part></app-footer-part>

  



