<configuration>
    <!-- Appender pour loguer dans la console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender pour loguer dans un fichier -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application-errors.log</file> <!-- Nom du fichier de log -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger racine, capturant les logs de niveau ERROR et plus -->
    <root level="INFO">
        <appender-ref ref="ERROR_FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>