
<div class="example-header">
    <mat-form-field>
      <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> -->
      <input matInput placeholder="Filter"> 
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
    <p [ngClass]="classCss">{{message}}</p>
    <mat-table [dataSource]="auteurSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.auteurID}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nom}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prenom}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cree_par">
        <mat-header-cell *matHeaderCellDef mat-sort-header> créé par </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.auteurCreationAuteur }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cree_le">
        <mat-header-cell *matHeaderCellDef mat-sort-header> créé le </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.dateCreationAuteur | date: 'dd-MMM-yyyy hh:mm:ss': 'fr-FR'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modifie_par">
        <mat-header-cell *matHeaderCellDef mat-sort-header> modifié par </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.auteurModificationAuteur === 'none'? '':row.auteurModificationAuteur}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modifie_le">
        <mat-header-cell *matHeaderCellDef mat-sort-header> modifié le </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.dateModificationAuteur !==row.dateCreationAuteur? (row.dateModificationAuteur | date: 'dd-MMM-yyyy hh:mm:ss': 'fr-FR'):''}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
        
        <button mat-icon-button (click)="openEditModal(row)" color="primary">   
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="onDelete(row.auteurID, row)" color="warn">   
            <mat-icon>delete</mat-icon>
        </button>
        </mat-cell>
      </ng-container>

      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

