.exemple-header
{

    top: 10%;
}

mat-cell {
    display: flex;
    height: auto; /* Assure que la cellule prend la hauteur de son contenu */
}

.text-container {
    max-width: 150px; /* Ajustez cette valeur pour contrôler la largeur du texte */
    overflow: hidden; /* Cache le texte qui déborde */
    text-overflow: ellipsis; /* Ajoute des points de suspension au texte débordant */
    white-space: nowrap; /* Empêche le texte de s'étendre sur plusieurs lignes */
  }




mat-row:nth-child(even) {
    background-color: #f5f5f5; /* Gris clair pour les lignes paires */
  }
  
  mat-row:nth-child(odd) {
    background-color: #ffffff; /* Blanc pour les lignes impaires */
  }

  mat-cell button {
    margin-right: 3%; /* Espace entre les boutons */
  }

  mat-cell.action-cell {
    display: flex;
    justify-content: flex-end; /* Aligne les boutons à droite */
    align-items: center; /* Centre verticalement les boutons */
    padding-right: 0; /* Enlevez l'espace de remplissage à droite de la cellule */
}

.button-separator-vertical {
    width: 1px;
    height: 100%; /* Prend toute la hauteur de la cellule */
    background-color: #ccc; /* Couleur du séparateur */
    margin: 0 8px; /* Espace autour du séparateur */
    display: inline-block;
    vertical-align: middle;
}

mat-cell.action-cell button {
    margin-right: 0; /* Enlevez toute marge à droite du dernier bouton */
}