
<div class="container" id="grid">
   
    <button mat-button color="accent" id="item3" (click)="openAboutDialog()" style="color: aqua; width: auto; margin-right: 0;">A Propos</button>
   
    <mat-toolbar color="primary" id="item1">
      <mat-toolbar-row>
        <span class="titre">LibEIl</span>
        <!-- class="action" -->
      </mat-toolbar-row>
    </mat-toolbar>
    

    
    <mat-card  id="item2">
        <mat-card-header>
          <mat-card-title style="font-family: 'Quicksand', cursive;">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div class="content-container">
            <img src="assets/login1.svg" alt="Login Image" class="login-image">
            <form class="example-form" (ngSubmit)="onSubmit()">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" [(ngModel)]="form.username" name="username" required> 
                    <!--<input matInput placeholder="Username" >-->
                  </mat-form-field>
                  </td>
                </tr>
                <tr>
                <td><mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" [(ngModel)]="form.password"type="password" name="password" required>
                  <!--<input matInput placeholder="Password" >-->
                </mat-form-field></td>
              </tr></table>
              <button mat-raised-button  type="submit" style="width: 50%; color: aqua; background-color:  #1d4f71;">
                Login
              </button>
            </form>
          </div>
        </mat-card-content>
    </mat-card>
</div>
  






   







