<div class="container" id="grid">

    <button mat-button color="accent" id="item3" >A Propos</button>
    <mat-toolbar color="primary" id="item1">
        <mat-toolbar-row>
            <span class="titre">LibEIl</span>
            <!-- class="action" --> 
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card  id="item2">
        <mat-card-header>
            <mat-card-title>Formulaire Super Admin</mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <form [formGroup]="userForm" (ngSubmit)="register()" class="form">
                <p [ngClass]="classCss">
                {{message}}
                </p>
            
                <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput type="text" id="nom" formControlName="nom" required>
                <mat-error *ngIf="userForm.get('nom')!.invalid && userForm.get('nom')!.touched">
                    Le Nom est requis
                </mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input matInput type="text" id="prenom" formControlName="prenom" required>
                <mat-error *ngIf="userForm.get('prenom')!.invalid && userForm.get('prenom')!.touched">
                    Le prénom est requis
                </mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput type="text" id="username" formControlName="username" required>
                <mat-error *ngIf="userForm.get('username')!.invalid && userForm.get('username')!.touched">
                    Le nom d'utilisateur est requis
                </mat-error>
                </mat-form-field>
            
            
                <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" formControlName="email" required>
                <mat-error *ngIf="userForm.get('email')!.invalid && userForm.get('email')!.touched">
                    L'email est requis
                </mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" id="password" formControlName="password" required>
                <mat-error *ngIf="userForm.get('password')!.invalid && userForm.get('password')!.touched">
                    Le mot de passe est requis
                </mat-error>
                </mat-form-field>
                
                <div>
                <button mat-raised-button type="submit" [disabled]="userForm.invalid">Soumettre</button>
                </div>
            </form>
        </mat-card-content >
    </mat-card>
</div>
    
  