<div class="detail-dialog-container">
    <h2 class="detail-dialog-title">{{'Détails'|translate }}</h2>
    <p><span>{{'Titre'|translate }}</span> : {{ selectedDocument.titre }}</p>
    <p><span>{{'Auteur'|translate }}</span> : {{ getAuteurFormat() }}</p>
    <p><span>{{'Format'|translate }}</span> : {{ selectedDocument.typeFichier }}</p>
    <p><span>{{'Taille'|translate }}</span> : {{ formatFileSize(selectedDocument.taille) }}</p>
    <p><span>{{'Résumé'|translate }}</span> : {{ (selectedDocument.resume !== 'undefined') ? selectedDocument.resume : '' }}</p>
  </div>
 