.detail-dialog-container{
  padding: 5%;
  width: 20rem;
  height: 15rem;
}

// @media screen and (min-width: 768px) and (max-width: 1023px) {
//   .detail-dialog-container
//   {padding: 5%;
//     width: 20rem;
//     height: 15rem;
//   }
// }

// @media screen and (max-width: 767px) {

//   .detail-dialog-container
// {padding: 5%;
//   width: 20rem;
//  height: 15rem;
// }
// }