
.sidenav {
  position:fixed;
  margin-top: 4rem;
  width: 13%;
  background-color: #183153;
}
 
.left_section {
       position: fixed;
       top:0;
       left: 0;
       bottom: 0; 
       width: 15%;  
       // background-color: white;
}
 
 .nom_projet
 {
     margin-left: 1rem;
     font-size: 2.5rem;
     font-weight: bold;
     margin-top: 1.5rem;
     // background-color: yellow;
     // height: 2.5rem;
 }
 
 
 .left_section nav {
     min-height: calc(100vh - 105px); 
     /*background-color:#53C0FA;*/
     background-color:#183153;
     margin-top: 1rem;
     /*font-family: 'roboto';*/
 }
 
 .responsive_bar
 {
     color: black;
     margin-left: 0.5rem;
     margin-top: 3rem;
 }
 
 
 nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 
 nav ul li a {
   display: block;
   padding: 10px 15px;
   color: #000;
   text-decoration: none;
   -webkit-transition: 0.2s linear;
   -moz-transition: 0.2s linear;
   -ms-transition: 0.2s linear;
   -o-transition: 0.2s linear;
   transition: 0.2s linear;
   color: #fff;
 }
 nav ul li a:hover,
 nav ul li a.active{
   background: #1d4f71;
   color: #fff;
   cursor: pointer;
 }
 
 
 nav ul li a .fa {
   width: 16px;
   text-align: center;
   margin-right: 5px;
   float:right;
 }
 
 nav ul li ul li a {
   border-left: 4px solid transparent;
   padding: 10px 20px;
 }
 nav ul li ul li a:hover {
   border-left: 4px solid #3498db;
 }
 
 /* Responsive Bar styles */
 .responsive-bar {
     display: none;
     cursor: pointer;
   }
   
   /* Ajoutez ceci pour afficher la sidebar */
   .left_section.open {
     display: block;
   }
   
   
//  /* Barre responsive styles */
//  .responsive-bar {
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 48px; /* Largeur de la barre */
//    height: 48px; /* Hauteur de la barre */
//    display: flex;
//    justify-content: center;
//    align-items: center;
//   // background-color: #2196F3; /* Couleur de fond de la barre */
//    cursor: pointer;
//    z-index: 999; /* Pour être au-dessus du contenu */
//  }
 
 /* Menu styles */
 .menu {
   position: fixed;
   top: 0;
   left: -250px; /* Masquer le menu à gauche */
   width: 250px; /* Largeur du menu */
   height: 100%;
   background-color: #333; /* Couleur de fond du menu */
   transition: left 0.3s ease-in-out; /* Animation de transition */
   z-index: 998; /* Pour être au-dessus du contenu */
 }
 
 .menu-open {
   left: 0; /* Afficher le menu en le décalant vers la droite */
 }
 
 @media screen and (min-width: 768px) and (max-width: 1023px) {
 
   .sidenav {
     width: 8rem;
 }
 
 .accueil_logo {
   height: 5%;
 }
    .left_section nav {
     margin-top: 2.5rem;
    }
 }
 
   
@media screen and (max-width: 767px) {
  /* Masquer la sidebar par défaut sur mobile */
  .sidenav{
  margin-top: 7rem;
  width: 30%;
  }

  .left_section {
    width: 100%;
  }

  .left_section_open{
    display: none;
  }

  .left_section nav {
    margin-top: 2rem;
  }

  .accueil_logo {
    height: 5%;
    //padding-top: 1.5%;
  }
  
    /* Afficher le responsive bar sur mobile */
    .responsive-bar {
      display: block;
    }
}
   
 
 
 
 