<!-- Barre responsive -->
<!-- comment %} <div class="responsive-bar" *ngIf="isMobile" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
</div> -->

<mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="side" opened="true"
[ngClass]="{'left_section_open': isLeftSectionVisible}" >
    <!--<section class="left_section">-->
        
            <!--<div class="nom_projet"> LibEIlH </div>-->

            <nav>
                <ul style="padding-top: 1.5rem">
                    <li *ngFor="let categorie of categories">
                        <a (click)="onCategoryClick($event,categorie.categorieID)">
                            {{ categorie.nom }}
                        </a>
                    </li>
                    
                    <hr style="color: white">
                    
                    <li>
                        <img src="assets/faubert.jpg" alt="hommage" style="width: 25%; height: 30%; display: block; margin: 0 auto;">
                        <br />
                        <span style="color: gray; text-align: center;  display: block; margin: 0 auto; font-size: small;">IN MEMORIAM
                        </span>
                        <span style="color: white; text-align: center;  display: block; font-size: smaller;">Jacques Faubert Étienne</span>
                        <span style="color: white; text-align: center;  display: block; font-size: x-small;">24-02-1982 - 22-02-2022</span>
                        <span style="color: white; text-align: center;  display: block; font-size: x-small;">Ingénieur - Professeur</span>
                        <span style="color: white; text-align: center;  display: block; font-size: x-small;">FDS | UEH</span>
        
                    </li>
                    
                </ul>
            </nav>
        <!-- </div> -->
        
        
    <!--</section>-->
</mat-sidenav>
<!-- <div [style.display]="isLeftSectionVisible ? 'block' : 'none'"> -->

<!-- </div> -->

