

<footer class="mat-elevation-z1" style="bottom: 0;">
  
  <div style="text-align: center;">
    <i class="fa fa-copyright" aria-hidden="true"></i> copyright
  </div>
  

      <div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="center" style=" height: 5%; margin-bottom: 2rem; margin-top: 0.5rem;">
        <img class="im1" src="assets/fds.png" alt="FDS_Logo ">
        <img class="im2" src="assets/pnud.jpg" alt="Pnud_Logo">
        <img class="im3" src="assets/urgeo.jpg" alt="Urgeo_Logo">
        <img class="im4" src="assets/ueh.png" alt="Ueh_Logo">
      </div>
 
 
</footer> 







