/* You can add global styles to this file, and also import other style files */
body {
    margin : 1rem 0 0rem 0rem;
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;    
} 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
