 
  <mat-toolbar class="header_container">
    
    <div class="header_options_firstline">
      <div class="responsive_bar" *ngIf="isMobile" (click)="toggleMenu()">
        <mat-icon>{{ false ? 'close' : 'menu' }}</mat-icon> 
      </div> 
      <div class="header_title"  (click)="reloadPage()" >
        <img class="img" alt="Mon Logo" src="assets/libeil.jpg">
        <span>LIBEIL</span>
      </div>
    </div>
    
    <div class="header_options_secondline">
      <mat-form-field class="header_search" appearance="outline">
        <mat-icon matPrefix ngStyle.xs="padding-right: 0; padding-left:0.2rem;" (click)="onInputChange(searchInput.value)" style="cursor: pointer;">search</mat-icon>
        <input matInput [(ngModel)]="keywords" placeholder="{{'Rechercher'|translate }}" #searchInput />
        <mat-icon matSuffix *ngIf="keywords" (click)="clearSearchKeyword()" style="cursor: pointer;">close</mat-icon>
      </mat-form-field>

        
      <div class="header_folder">
        <button mat-icon-button color="black" (click)="toggleListVisibility()" id="format_icon" >
          <mat-icon svgIcon="folder" ></mat-icon>
        </button>

        <div class="icon_bar" id="icon_bar" *ngIf="isListVisible">

          <button (click)="onFilterClick('Document')" mat-icon-button color="secondary">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
    
          <button (click)="onFilterClick('Image')" mat-icon-button color="secondary">
           <!-- <i class="fa fa-file-image-o" aria-hidden="true"></i>  -->
           <mat-icon svgIcon="image" ></mat-icon>
          </button>
           
          <button (click)="onFilterClick('Vidéo')" mat-icon-button color="secondadry">
             <!-- <i class="fa fa-file-video-o" aria-hidden="true"></i> -->
             <mat-icon svgIcon="video" ></mat-icon>
          </button>
    
          <button (click)="onFilterClick('Audio')" mat-icon-button color="secondary">
             <!-- <i class="fa fa-file-audio-o" aria-hidden="true"></i> -->
             <mat-icon svgIcon="aud" ></mat-icon>
          </button>
           
            
        </div>
      </div>
        
      <div class="header_sort">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon style="color: rgb(24, 49, 83);">sort</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <span style="order: 0;">{{'Date dajout' | translate }}</span>
            <mat-icon style="order: 1; margin-left: 8px; font-size: small;">arrow_downward</mat-icon> <!-- Icône de flèche descendante -->
          </button>
         
          <button mat-menu-item  [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu"  >
            <span>{{'Langue'|translate }}</span>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click) = "onOrderClick('Créole')">
              <span>{{'Créole'|translate }}</span>
            </button>
            <button mat-menu-item (click) = "onOrderClick('Anglais')">
              <span>{{'Anglais'|translate }}</span>
            </button>
            <button mat-menu-item (click) = "onOrderClick('Français')">
              <span>{{'Français'|translate }}</span>
            </button>
            <button mat-menu-item (click) = "onOrderClick('Espagnol')">
              <span>{{'Espagnol'|translate }}</span>
            </button>
          </mat-menu>
          <button mat-menu-item  (click) = "onOrderClick('titre')">
            <span>{{'Ordre Alphabétique'|translate }}</span>
          </button>
        </mat-menu>
      </div>

 
      <nav class="header_language">
       
        <mat-list-item>
          
          <select class="form-select"  (change)="ChangeLang($event)"    name="" id="lang" [value]="lang">
              <option [selected]="lang==='ht'" value="ht">Kreyòl</option>
              <option [selected]="lang==='en'" value="en">English</option>
              <option [selected]="lang==='fr'" value="fr">Français</option>
              <option [selected]="lang==='es'" value="es">Español</option>
          </select>
        
        </mat-list-item>
    
      </nav>


      
      <div class="header_about">
        <button mat-stroked-button *ngIf="!isMobile"  (click)="openAboutDialog()">{{'A propos'|translate}}</button>
      </div>


    </div> 

     <!-- Les boutons représentant les differents types de formats -->
      
  
  
  </mat-toolbar>
  
 
 
 
 


